#menu {
    background-color: #434D36;
    color: white;

    left: 0;
    right: 0;
    height: 40px;

    position: fixed;
    top: 0; 
    left: 0;

    padding: 20px;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


 /* Remove margens e padding padrão da lista */
    ul {
        list-style: none; /* Remove os marcadores */
        margin: 0;
        padding: 0;
        display: flex; /* Coloca os itens lado a lado */
        justify-content: space-between;
    }

    /* Estilo dos itens */
    ul li {
        background-color: #555D4C;
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
    }

    /* Efeito ao passar o mouse */
    ul li:hover {
        background-color: #0056b3;
    }

#logoGrande {
    width: 100%;
    margin: 0 0 100px 0;
    height: 380px;
    place-items: center;
    background-color:#f7fff7;
}  

#logo {
    width: 100%;
    height: 120%;
    background-color: rgb(230, 245, 228);
    border-radius: 20px;
}

.conteudo {
    margin-top: 80px;
    padding: 0;
    place-items: center;
    text-align: center;
    background-color:#f7fff7;
}

.conteudo h1 {
    font-size: 40px;
}

.conteudo p {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.conteudo h2{
    font-size: 30px;

}
.conteudo h3{
    font-size: 25px;
}

#instagram {
   background-color: #f54bc2;
   border-radius: 50%;
   margin: 0 10px 0 10px;
}

#facebook {
    background-color: #3b5998;
    border-radius: 50%; 
    margin: 0 10px 0 10px;
}

#youtube {
    background-color: #ff0000;
    border-radius: 50%;
    margin: 0 10px 0 10px;
}

#spotify {
    background-color: #1ed760;
    border-radius: 50%;
    margin: 0 10px 0 10px;
}


#cultoCria{
    width: 300px;
    height: 450px
}

.letraVerde {
    color:#4A701C;
}

#logoFinal {
    width: 50%;
    height: 50%;
}

.fotosTemplo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
}

.fotosTemplo figure {
    width: 40%;
    margin: 0;
    text-align: center;
}

.fotosTemplo img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.fotosTemplo figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.cards-ministerios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: contain;
}

/* TÍTULO DO CARD */
.card h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #222;
}

/* FRASE DO CARD */
.card p {
    font-size: 15px;
    line-height: 1.4;
    color: #333;
    text-align: justify;
    border-radius: 20px;
}